In [9]:
import pandas as pd
from deserializer import NFeJsonDeserializer

In [2]:
# Instantiate the class and pass the path to the directory with NFe JSON documents.
nfe_reader = NFeJsonDeserializer("data/")

In [3]:
# List avaliable files in the directory.
nfe_reader.list_files()

['data.json']

In [4]:
# Example deserialize JSON by using the placeholder name for the dataframe
nfe_reader.get_dataframe(filename="data.json", dataframe="nfe_info")

               CreateDate         EmissionDate  Discount  NFeNumber  NFeID
0  2021-05-24T20:21:34.79  2021-05-24T00:00:00       0.0        501      1
1  2021-05-24T20:21:34.79  2021-05-24T00:00:00       0.0        502      2
2  2021-05-24T20:21:34.79  2021-05-24T00:00:00       0.0        503      3

In [5]:
# Example deserialize JSON by using the placeholder name for the dataframe
nfe_reader.get_dataframe(filename="data.json", dataframe="item_list")

   NFeID   ProductName  Value  Quantity
0      1          Rice  35.55         2
1      1         Flour  11.55         5
2      1          Bean  27.15         7
0      2        Tomate  12.25        10
1      2         Pasta   7.55         5
0      3          Beer   9.00         6
1      3  French fries  10.99         2
2      3     Ice cream  27.15         1

In [6]:
# Example deserialize JSON by default get_dataframe return.
nfe_reader.get_dataframe(filename="data.json")[0]

               CreateDate         EmissionDate  Discount  NFeNumber  NFeID
0  2021-05-24T20:21:34.79  2021-05-24T00:00:00       0.0        501      1
1  2021-05-24T20:21:34.79  2021-05-24T00:00:00       0.0        502      2
2  2021-05-24T20:21:34.79  2021-05-24T00:00:00       0.0        503      3

In [7]:
# Example deserialize JSON by default get_dataframe return.
nfe_reader.get_dataframe(filename="data.json")[1]

   NFeID   ProductName  Value  Quantity
0      1          Rice  35.55         2
1      1         Flour  11.55         5
2      1          Bean  27.15         7
0      2        Tomate  12.25        10
1      2         Pasta   7.55         5
0      3          Beer   9.00         6
1      3  French fries  10.99         2
2      3     Ice cream  27.15         1

In [11]:
# Example concateneted dataframe from JSON NFe document.
nf_info = nfe_reader.get_dataframe(filename="data.json")[0]
itemlist = nfe_reader.get_dataframe(filename="data.json")[1]

pd.merge(nf_info, itemlist, "inner", "NFeID")

,CreateDate,EmissionDate,Discount,NFeNumber,NFeID,ProductName,Value,Quantity
0,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,501,1,Rice,35.55,2
1,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,501,1,Flour,11.55,5
2,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,501,1,Bean,27.15,7
3,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,502,2,Tomate,12.25,10
4,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,502,2,Pasta,7.55,5
5,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,503,3,Beer,9.00,6
6,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,503,3,French fries,10.99,2
7,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,503,3,Ice cream,27.15,1